@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

body {
  background-color: #f5f5f5 !important;
}

section {
  margin-top: 175px;
}

#nav-bar {
  text-align: center;
  color: white;
  box-shadow: gray;
  .name {
    color: white;
  }
}

.nav-link {
  color: darkblue !important;
  font-size: large;
  margin-right: 15px !important;
  &:hover {
    background-color: #007bff;
    color: white !important;
    border-radius: 4px;
  }
}

.faint-white-bg {
  background-color: rgba(255, 255, 255, 0.5) !important;
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
}

.navbar-brand {
  font-size: x-large !important;
  color: #007bff !important;
  font-weight: bold;
}

.line-mf {
  background-color: #007bff;
  width: 40px;
  height: 5px;
  margin: 0 auto;
}

.resume-btn {
  width: fit-content;
}

.intro {
  height: 100vh;
  position: relative;
}

.intro-title {
  color: white;
  font-size: 5rem;
}

@media (max-width: 700px) {
  .intro-title {
    font-size: 4rem;
  }
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .overlay-intro {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.container-fluid {
  position: relative !important;
  text-align: center !important;
  color: white;
}

.centered-text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.icon {
  font-size: 3rem;
  color: white;
  padding: 10px;
  &:hover {
    color: #000;
  }
}

.title-box {
  margin-bottom: 50px;
}

.title-a {
  font-size: 3rem;
  font-weight: bolder;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  -webkit-box-shadow: 0 8px 6px -6px grey;
  -moz-box-shadow: 0 8px 6px -6px grey;
  box-shadow: 0 8px 6px -6px grey;
}

.project-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-img {
  display: block;
  overflow: hidden;
}

.project-img img {
  transition: all 1s;
}

.project-description {
  background-color: white;
  padding: 2rem 3% 1rem 4%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.project-title {
  font-size: 1.2rem;
}

.w-more {
  color: #4e4e4e;
  font-size: .8rem;
}

.w-category {
  color: #0078ff;
}

.project-link > .fa {
  padding: 0px;
  padding-left: 0px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.project-link > .fa-github:hover {
  color: #007bff;
}

.subtitle-a {
  color: #4e4e4e;
}

.message-field {
  height: 435px;
  margin-top: 6px;
  margin-bottom: 16px;
}

label {
  color: #4e4e4e;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  margin-top: 1rem;
  margin-bottom: 10rem;
  width: 10rem;
  background-color: #0078ff;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 1.25rem;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #01499c;
}



@import "~bootstrap/scss/bootstrap";